.home_container{
    background-color: white;
    height: 100%;
    .navbar_container{
        display: flex;
        align-items: center;
        border-bottom: solid 1px lightgray;
        padding-bottom: 10px;
        position: sticky;
        top:0px;
        width: 100%;
        z-index: 100;
        background-color: white;
        .logo{
            width: 40px;
            margin-right: 20px;
            margin-top: 8px;
            margin-left: 8px;
        }
        .porta{
            font-size: larger;
        }

    }

    .landing_section{
       height: 90vh;
       position: relative;
        .text_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 800;
            position:relative;
            top:900px;
            padding-top: 70px;
            transform: translate(0%, -900px);
            z-index: 50;
            transition: 1s;
            
            .span{
                margin-top: 50px;
            }
            .sizeSmall{
                font-size: 30px;
            }
            .sizeBig{
                font-size: 50px;
            }
        }
        .image_container{
            position: absolute;
            bottom: 0px;
            width: 100%;
            .image{
                width: 100%;
                position: relative;
                bottom: -4px;
            }
        }
    }
}

.map_section{
    display: flex;
    margin-bottom: 50px;

    .map_container{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;

        iframe{
            border:0;
            width: 500px;
            height: 400px;
            box-shadow: 5px 5px 5px 5px grey;  
            border-radius: 20px;
        }
    }
    .hint_container{
        display: flex;
        flex-direction: column;
        flex:1;
        align-self: center;
    }
    
}


.room_section{
    display: flex;
    height: 80vh;
    .master_room_section{
        display: flex;
        align-items: center;
        .room_container{
            display: flex;
            align-items: center;
            flex-direction: column;
            .description_container{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right:solid lightgray 1px;
                span{
                    padding-top: 20px;
                }
                a{
                    margin-top: 10px;
                    background-color:rgb(158,0,0);
                    color: white;
                    padding:10px;
                    font-weight: 600; 
                    border-radius: 10px;
                    box-shadow: 1px 2px grey;  
                    text-decoration: none;              
                }
                a:hover{
                    background-color:darkred;
                    transition: .3s;
                }
                    
            }
            .image_container{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    width: 80%;
                }
            }
        }
    }

    .single_room_section{
        display: flex;
        align-items: center;
        .room_container{
            display: flex;
            align-items: center;
            flex-direction: column;
            .description_container{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    padding-top: 20px;
                }
                a{
                    margin-top: 10px;
                    background-color:rgb(158,0,0);
                    color: white;
                    padding:10px;
                    font-weight: 600; 
                    border-radius: 10px;
                    box-shadow: 1px 2px grey;  
                    text-decoration: none;              
                }
                a:hover{
                    background-color:darkred;
                    transition: .3s;
                }
            }
            .image_container{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 80%;
                }
            }
        }
    }
}

.info_section{
    height: max-content;
    padding-left: 50px;
    .info_container{
        display: flex;
        align-items: center;
        
        .info_list{
            flex:1.2;
        }
        .video_container{
            display: flex;
            flex-direction: column;
            flex:1;
            align-items: center;
        }
    }
}

.footer_section{
    margin:0px 10% 0px 10%;
    border-top:solid lightgrey 1px;
    margin-top: 30px;
    padding-bottom: 30px;
    .contact_container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .info_row{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

@media (max-width: 768px){

    .home_container{
        .landing_section{
            height: 80vh
        }
    }
    .room_section{
        height: 100%;
        flex-direction: column;
        .master_room_section{
            height: 50vh;
            border-bottom: solid lightgrey 1px;
            margin-bottom: 30px;
            a{
                margin-bottom: 30px;
            }
        }
        .single_room_section{
            height: 50vh;
            margin-bottom: 30px;
        }
        span{
            width: 90%;
            text-align: center;
        }
    }

    .info_section{
        padding-left: 0px;
        h1{
            margin-left: 10px;
        }
        .info_container{
            display: flex;
            align-items: center;
            flex-direction: column;
            .info_list{
                ul{
                    position: relative;
                    left: -20px;
                }
            }
            .video_container{
                display: flex;
                flex-direction: column;
                align-items: center;
                iframe{
                    width: 350px;
                    height: 200px;
                }

            }
        }
    }
    .map_section{
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        .map_container{
            margin-bottom: 20px;
            gap:5px;
            iframe{
                border:0;
                width: 350px;
                height: 270px;
            }
        }
        .hint_container{
             
            width: 80%;
        }
    }
    .footer_section{
        font-size: small;
    }
}
