.home_container {
  background-color: white;
  height: 100%;
}
.home_container .navbar_container {
  display: flex;
  align-items: center;
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.home_container .navbar_container .logo {
  width: 40px;
  margin-right: 20px;
  margin-top: 8px;
  margin-left: 8px;
}
.home_container .navbar_container .porta {
  font-size: larger;
}
.home_container .landing_section {
  height: 90vh;
  position: relative;
}
.home_container .landing_section .text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  position: relative;
  top: 900px;
  padding-top: 70px;
  transform: translate(0%, -900px);
  z-index: 50;
  transition: 1s;
}
.home_container .landing_section .text_container .span {
  margin-top: 50px;
}
.home_container .landing_section .text_container .sizeSmall {
  font-size: 30px;
}
.home_container .landing_section .text_container .sizeBig {
  font-size: 50px;
}
.home_container .landing_section .image_container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.home_container .landing_section .image_container .image {
  width: 100%;
  position: relative;
  bottom: -4px;
}

.map_section {
  display: flex;
  margin-bottom: 50px;
}
.map_section .map_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map_section .map_container iframe {
  border: 0;
  width: 500px;
  height: 400px;
  box-shadow: 5px 5px 5px 5px grey;
  border-radius: 20px;
}
.map_section .hint_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
}

.room_section {
  display: flex;
  height: 80vh;
}
.room_section .master_room_section {
  display: flex;
  align-items: center;
}
.room_section .master_room_section .room_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.room_section .master_room_section .room_container .description_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid lightgray 1px;
}
.room_section .master_room_section .room_container .description_container span {
  padding-top: 20px;
}
.room_section .master_room_section .room_container .description_container a {
  margin-top: 10px;
  background-color: rgb(158, 0, 0);
  color: white;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 2px grey;
  text-decoration: none;
}
.room_section .master_room_section .room_container .description_container a:hover {
  background-color: darkred;
  transition: 0.3s;
}
.room_section .master_room_section .room_container .image_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room_section .master_room_section .room_container .image_container img {
  width: 80%;
}
.room_section .single_room_section {
  display: flex;
  align-items: center;
}
.room_section .single_room_section .room_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.room_section .single_room_section .room_container .description_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room_section .single_room_section .room_container .description_container span {
  padding-top: 20px;
}
.room_section .single_room_section .room_container .description_container a {
  margin-top: 10px;
  background-color: rgb(158, 0, 0);
  color: white;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 2px grey;
  text-decoration: none;
}
.room_section .single_room_section .room_container .description_container a:hover {
  background-color: darkred;
  transition: 0.3s;
}
.room_section .single_room_section .room_container .image_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room_section .single_room_section .room_container .image_container img {
  width: 80%;
}

.info_section {
  height: -moz-max-content;
  height: max-content;
  padding-left: 50px;
}
.info_section .info_container {
  display: flex;
  align-items: center;
}
.info_section .info_container .info_list {
  flex: 1.2;
}
.info_section .info_container .video_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.footer_section {
  margin: 0px 10% 0px 10%;
  border-top: solid lightgrey 1px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.footer_section .contact_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_section .contact_container .info_row {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .home_container .landing_section {
    height: 80vh;
  }
  .room_section {
    height: 100%;
    flex-direction: column;
  }
  .room_section .master_room_section {
    border-bottom: solid lightgrey 1px;
  }
  .room_section .master_room_section a {
    margin-bottom: 30px;
  }
  .room_section .single_room_section {
    margin-bottom: 30px;
  }
  .room_section span {
    width: 90%;
    text-align: center;
  }
  .info_section {
    padding-left: 0px;
  }
  .info_section h1 {
    margin-left: 10px;
  }
  .info_section .info_container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .info_section .info_container .info_list ul {
    position: relative;
    left: -20px;
  }
  .info_section .info_container .video_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_section .info_container .video_container iframe {
    width: 350px;
    height: 200px;
  }
  .map_section {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }
  .map_section .map_container {
    margin-bottom: 20px;
    gap: 5px;
  }
  .map_section .map_container iframe {
    border: 0;
    width: 350px;
    height: 270px;
  }
  .map_section .hint_container {
    width: 80%;
  }
  .footer_section {
    font-size: small;
  }
}/*# sourceMappingURL=Home.css.map */